deprecated/
temp/
obj/
obj_debug/
obj_linux/
obj_mac/
obj_test/
obj_extcigar/
# bin/graphmap-not_release
# bin/graphmap-debug
bin/
.project
.cproject
.settings/
reproducibility/*/

!reproducibility/*.py
!reproducibility/*.md
